@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
}

.body-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.logo {
  margin-right: 30px;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
}

.navigation {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}
.navigation-logo {
  height: 64px;
  align-self: flex-start;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  min-width: 340px;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 252px;
  max-width: 340px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 34px;
}

.number-of-objects {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-decoration: none;
  text-align: center;
  align-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.intro {
  background-image: url("../images/ikons_logos/divider.svg"), url("../images/background/header_index.jpg");
  background-color: #756157;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  text-align: center;
  background-size: 100% auto, cover;
  margin: 0;
  padding: 0;
  min-height: 485px;
  margin-bottom: 69px;
}

.intro-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.advantages {
  text-align: center;
}

.advantages-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.advantages-item-img .advantages-title {
  color: #ffffff;
}

.advantages-item-description {
  font-weight: 400;
}

.service {
  text-align: center;
}

.service-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.service-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-item {
  width: 400px;
  min-height: 385px;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.service-item-description {
  font-weight: 400;
}

.search {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 592px;
  text-align: center;
}

.search-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.search-content .search-link {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-subscribe {
  background-image: url("../images/background/subscribe.jpg");
  background-color: #756157;
  color: #fff;
  background-repeat: no-repeat;
  text-align: center;
  align-content: center;
  min-height: 415px;
}

.subscribe-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-e-mail {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: #f2f2f2;
  min-width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-form .submit-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer-links-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-phones {
  width: 720px;
  text-align: center;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-subscribe-hotels {
  background-image: none;
  background-color: inherit;
  color: inherit;
}
.subscribe-header-hotels {
  color: #000000;
}

.subscribe-text-hotels {
  color: #333333;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social {
  min-width: 142px;
}

.footer-social-list .button-social {
  color: #82b3d3;
}

.page-filter {
  background-image: url("../images/background/header_hotels.jpg");
  background-color: #756157;
  color: #fff;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.page-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  padding-top: 35px;
}

.breadcrumbs {
  color: #ffffff;
  list-style-type: none;
}

.characteristic-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.buttons-block {
  display: flex;
  flex-direction: column;
  margin-left: auto;

}

.fieldset-form {
  margin-right: 70px;
  min-width: 150px;
}

.breadcrumbs-link {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.fieldset-legeng, .price-legeng {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.fieldset-list {
  list-style-type: none;
}

.price-form {
  margin-left: auto;
  width: 288px;
  padding: 0;
  margin-right: 70px;
}

.control {
  font-weight: 400;
  line-height: 23px;
}

.button-action {
  font-family: inherit;
  background-color: #82b3d3;
  border: none;
}

.hidden-back {
  font-family: inherit;
  background-color: transparent;
  border: none;
}

.hotels-variants-row {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.card-display {
  display: flex;
  min-width: 160px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  list-style-type: none;
}

.hotels-cards {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 80px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  width: 140px;
  height: 34px;
  border-radius: 4px;
}

.select-variants-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.select-variants {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: 70px;
  min-width: 292px;
  height: 49px;
}

.hotels-title-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-item{
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 340px;
  box-sizing: border-box;
  padding: 20px;
}

.selected-card-button {
  background-color: #7db54f;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  align-content: center;
}

.pagination-link-active {
  color: #000000;
  background-color: #f2f2f2
}

.pagination-link-more {
  color: #000000;
  background-color: transparent;
  border: none;
}

.advantages .advantages-list .advantages-item-img  {
  display: flex;
  background-color: #82b3d3;
  color: #ffffff;
  min-width: 100%;
}

.advantages .advantages-list .advantages-item-img:last-child {
  flex-direction: row-reverse;
}

.advantages-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}



.service-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.card-item {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.card-item-select {
  border: 2px solid #000000;
}

.card-item-display {
  color: #000000;
  text-decoration: none;
}
