@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
}

.body-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  width: 1200px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-index {
  flex-grow: 1;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  gap: 30px;
}

.navigation-logo {
  height: 64px;
  align-self: flex-start;
}

.navigation-logo:hover {
  opacity: 0.8;
}

.navigation-logo:focus-visible {
  opacity: 0.8;
}

.navigation-logo:active {
  opacity: 0.6;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  min-width: 340px;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 252px;
  max-width: 340px;
  margin-left: auto;
  list-style-type: none;
}

.navigation-user .navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
}

.navigation-user-like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::after {
  content: " ";
  position: absolute;
  height: 2px;
  bottom: -1px;
  left: 16px;
  right: 16px;
  background-color: #756257;
}

.navigation-icon {
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756157;
}

.navigation-link:focus-visible .navigation-icon {
  fill: #756157;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 34px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgb(255, 255, 255, 0.3);
}

.button-go {
  margin-left: 20px;
}

.body-content .button:disabled {
  color: rgb(255, 255, 255, 0.3);
  background-color: #E5E5E5;
  pointer-events: none;
}

.subscribe-form .submit-button:hover {
  background-color: #68A2CA;
}

.subscribe-form .submit-button:focus-visible {
  background-color: #68A2CA;
}

.subscribe-form .submit-button:active {
  background-color: #82B3D3;
  color: #a7cae0;
}

.button-action:hover {
  background-color: #68A2CA;
}

.button-action:focus-visible {
  background-color: #68A2CA;
}

.button-action:active {
  background-color: #82B3D3;
  color: rgb(255, 255, 255, 0.3);
}

.hidden-back:hover {
  color: rgb(255, 255, 255, 0.6);
  background-color: transparent;
}

.hidden-back:focus-visible {
  color: #ffffff;
  background-color: transparent;
}

.hidden-back:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: transparent;
}

.button-action + .hidden-back:disabled {
  color: rgb(255, 255, 255, 0.1);
  background-color: transparent;
  pointer-events: none;
}

.selected-card-button:hover {
  background-color: #6C9E42;
}

.selected-card-button:focus-visible {
  background-color: #6C9E42;
}

.selected-card-button:active {
  background-color: #7DB54F;
  color: rgb(255, 255, 255, 0.3);
}

.number-of-objects {
  position: absolute;
  top: 9px;
  left: 24px;
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  text-decoration: none;
  text-align: center;
  align-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.number-of-objects:hover {
  background-color: #6C9E42;
}

.number-of-objects:focus-visible {
  background-color: #6C9E42;
}

.number-of-objects:active {
  background-color: #7DB54F;
  color: rgb(255, 255, 255, 0.3);
}

.intro {
  background-image: url("../images/ikons_logos/divider.svg"), url("../images/background/header_index.jpg");
  background-color: #68A2CA;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-size: 100% auto, cover;
  min-height: 485px;
  box-sizing: border-box;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  padding-top: 51px;
  padding-bottom: 82px;
  gap: 20px;
}

.intro-text {
  display: inline-block;
}

.advantages {
  text-align: center;
}

.advantages-heading-container {
  display: flex;
  flex-direction: column;
  max-width: 651px;
  margin: 69px auto;
  gap: 25px;
}

.advantages-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 102px 85px 102px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  max-width: 175px;
  margin: 0 auto;
  padding: 0;
}

.advantages-item-img .advantages-title {
  color: #ffffff;
}

.advantages-title::after {
  content: " ";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-img .advantages-title::after {
  background-color: rgb(255, 255, 255, 0.3);
}

.advantages-item-description {
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}

.service {
  text-align: center;
}

.service-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 505px;
  justify-content: center;
  margin: 64px auto;
}

.service-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  padding: 0;
}

.service-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 385px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 81px 85px 81px;
  box-sizing: border-box;
  margin: 0 auto;
  gap: 30px;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
}

.service-title::before {
  content: " ";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.service-title-home::before {
  background-image: url("../images/ikons_logos/house.svg");
}

.service-title-food::before {
  background-image: url("../images/ikons_logos/food.svg");
}

.service-title-souvenir::before {
  background-image: url("../images/ikons_logos/souvenirs.svg");
}


.service-item-description {
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}

.search {
  width: 100%;
  text-align: center;
}

.search-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px auto;
  max-width: 592px;
}

.search-heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.search-content .search-link {
  font-size: 20px;
  line-height: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.subscribe-text-container {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  gap: 20px;
  margin: 0 auto;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 54px;
  background-image: url("../images/background/subscribe.jpg");
  background-color: #756157;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 415px;
  padding-top: 96px;
  padding-bottom: 104px;
  box-sizing: border-box;
}

.subscribe-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

.subscribe-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto;
  padding: 0;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  max-width: 684px;
  margin: 0 auto;
}

.subscribe-e-mail {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: #f2f2f2;
  min-width: 452px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.subscribe-e-mail:hover {
  background-color: #E6E6E6;
}

.subscribe-e-mail:focus-visible {
  background-color: #E6E6E6;
}

.subscribe-e-mail:active {
  background-color: #E6E6E6;
}

.subscribe-form .submit-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 232px;
  max-width: 500px;
  padding: 8px;
}

.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.footer-phones {
  width: 720px;
  text-align: center;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus-visible {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-subscribe-hotels {
  background-image: none;
  background-color: inherit;
  color: inherit;
}

.developer-logo {
  fill: #000000;
}

.developer-link:hover .developer-logo {
  fill: #756157;
}

.developer-link:focus-visible .developer-logo {
  fill: #756157;
}

.developer-link:active .developer-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.subscribe-header-hotels {
  color: #000000;
}

.subscribe-text-hotels {
  color: #333333;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social {
  min-width: 142px;
}

.footer-social-list .button-social {
  display: flex;
  color: #82b3d3;
  min-height: 40px;
  min-width: 47.3px;
  align-items: center;
  justify-content: center;
}

.social-logo {
  fill: #82b3d3;
}

.button-social:hover .social-logo {
  fill: #68A2CA;
}

.button-social:focus-visible .social-logo {
  fill: #68A2CA;
}

.button-social:active .social-logo {
  fill: rgba(104, 162, 202, 0.3);
  ;
}

.page-filter {
  background-image: url("../images/background/header_hotels.jpg");
  background-color: #756157;
  background-size: cover;
  color: #ffffff;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding: 35px 70px 70px 70px;
}

.page-filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  gap: 10px;
  padding: 0;
}

.breadcrumbs-text {
  padding: 0;
}

.breadcrumbs-svg {
  fill: #ffffff;
}

.breadcrumbs-svg:hover {
  fill: rgb(255, 255, 255, 0.6);
}

.breadcrumbs-svg:focus-visible {
  fill: #ffffff;
}

.breadcrumbs-svg:active {
  fill: rgb(255, 255, 255, 0.3);
}

.breadcrumbs-item-next {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.breadcrumbs-item-next::before {
  content: " ";
  background-image: url(../images/ikons_logos/next.svg);
  display: block;
  width: 8px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.characteristic-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
}

.buttons-block {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 191px;
  padding: 56px 0 0 0;
}

.fieldset-form {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 150px;
  max-width: 170px;
}

.breadcrumbs-link {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.fieldset-legeng,
.price-legeng {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.fieldset-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
}

.list-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-form {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: auto;
  width: 288px;
}

.range {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 2px;
}

.filter-price {
  display: flex;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.fixing-price {
  order: -1;
  width: 100%;
  margin: 0 10px 0 0;
  padding: 0;
  font: inherit;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.filter-price:hover {
  background-color: #e6e6e6;
}

.fixing-price::-webkit-outer-spin-button,
.fixing-price::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.filter-price:nth-child(2n) {
  border-radius: 0 4px 4px 0;
}

.range-target {
  grid-column: span 2;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.control {
  position: relative;
  display: inline-block;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.control-input {
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.control-input-checkbox {
  border-radius: 4px;
}

.control-input-radio {
  border-radius: 50%;
}

.control-input:checked::before {
  content: "";
}

.control-input-checkbox::before {
  width: 13px;
  height: 11px;
  background-image: url(../images/ikons_logos/checkbox_input.svg);
}

.control-input-radio::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.control-input::before {
  margin: auto;
}

.control:has(.control-input:disabled),
.filter-price:has(.fixing-price:disabled),
.field:disabled,
.modal-form-input:disabled,
.quantity-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button-action {
  font-family: inherit;
  background-color: #82b3d3;
  border: none;
  margin: 0;
  padding: 8px;
}

.hidden-back {
  font-family: inherit;
  background-color: transparent;
  border: none;
}

.hotels-variants-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
  gap: 70px;
}

.card-display {
  display: flex;
  flex-wrap: wrap;
  min-width: 160px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  list-style-type: none;
}

.card-item-display {
  display: block;
  width: 48px;
  height: 48px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
  border: #E5E5E5 solid 2px;
  border-radius: 4px;
  cursor: pointer;
}

.card-item-display.card-item-select {
  border: #000000 solid 2px;
}

.card-table {
  background-image: url(../images/ikons_logos/table.svg);
}

.card-slideshow {
  background-image: url(../images/ikons_logos/slideshow.svg);
}

.card-list {
  background-image: url(../images/ikons_logos/list.svg);
}

.card-item-display:hover {
  border: #000000 solid 2px;
}

.card-item-display:focus-visible {
  border: #000000 solid 2px;
}

.card-item-display:active {
  border: #000000 solid 2px;
}

.hotels-cards {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  gap: 20px;
  list-style-type: none;
  margin-bottom: 80px;
}

.hotels-item-title {
  margin: 0;
  padding: 0;
}

.description-of-housing {
  margin: 0;
  padding: 0;
}

.price-of-housing {
  margin: 0;
  padding: 0;
  justify-self: end;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  border-radius: 4px;
  padding: 8px;
  margin: 0;
}

.select-variants-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.select-variants {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 40px;
  min-width: 292px;
  height: 48px;
  cursor: pointer;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-image: url(../images/ikons_logos/down.svg);
  background-repeat: no-repeat;
  background-position: right 18px top 19px;
  background-size: 12px 7px;
}

.select-variants:hover {
  border: 2px solid #68A2CA;
}

.select-variants:focus-visible {
  border: 2px solid #68A2CA;
}

.select-variants:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.hotels-title-link {
  grid-column: 1/-1;
  grid-row: 2/3;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotels-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px auto 1fr 36px 36px;
  gap: 16px 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-img-link {
  grid-column: 1/-1;
}

.hotels-item-img {
  object-fit: cover;
}

.more-button {
  padding: 8px;
  margin: 0;
}

.selected-card-button {
  background-color: #7db54f;
}

.stars {
  display: block;
  margin: 0;
  min-height: 18px;
  background-image: url(../images/ikons_logos/stars.svg);
  background-repeat: no-repeat;
}

.one-star {
  background-position: -96px;
}

.two-stars {
  background-position: -72px;
}

.three-stars {
  background-position: -48px;
}

.four-stars {
  background-position: -24px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.pagination-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  align-content: center;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.pagination-link-active {
  color: #000000;
  background-color: #f2f2f2
}

.pagination-link-more {
  color: #000000;
  background-color: transparent;
  border: none;
}

.advantages .advantages-list .advantages-item-img {
  display: flex;
  flex-wrap: wrap;
  background-color: #82b3d3;
  color: #ffffff;
  min-width: 100%;
}

.advantages .advantages-list .advantages-item-img:last-child {
  flex-direction: row-reverse;
}

.advantages-list li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.service-list li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}
